@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #b30202;
  --background: #0c0716;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
  color: #fff;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

input, select {
  background-color: #fff;
  color: #606266;
  outline: none;
  border: 3px solid #dcdfe6;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  transition: all 300ms ease;
}

input {
  font-size: 16px;
}

select {
  line-height: 40px;
  max-width: 200px;
}

input:hover, select:hover, input:focus, select:focus {
  border-color: var(--primary-color);
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: var(--primary-color);
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: #fff;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.purple {
  color: var(--primary-color);
}

.logo {
  width: 240px;
  padding-top: 20px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid var(--primary-color);
  padding: 8px 20px;
  border-radius: 50px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: var(--primary-color);
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}


/* 

LANDING

*/

#landing {
  background-color: var(--background);
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 100;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 240px;
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* 
**

MOVIES PAGE

**
*/

#movies__body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#movies__main {
  flex: 1;
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.movies__header--title {
  margin-bottom: 0;
}

.search__bar--container {
  display: flex;
  justify-content: center;
}

.search__bar {
  margin-top: 24px;
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: var(--primary-color);
}

.movies__loading--spinner {
  display: none !important; 
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 800ms infinite linear;
}

.movie__list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
}

.movie {
  position: relative;
  width: 240px;
  border-radius: 4px;
  margin: 12px;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease;
}

.movie__link {
  color: #fff;
}

.movie__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.movie:hover {
  transform: translateY(-8px);
}

.movie__container {
  display: flex;
  flex-direction: column;
}

.movie__img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie__details {
  padding: 8px 0;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: var(--primary-color);
}

.movies__loading--spinner {
  display: none !important; 
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .search__bar {
    max-width: 400px;
  }

  .book {
    width: 50%;
  }
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 580px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}